@font-face {
  font-family: Spartan;
  src: url(../font/Spartan/Spartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: Lora;
  src: url(../font/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(../font/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: Cinzel;
  src: url(../font/Cinzel/Cinzel-VariableFont_wght.ttf);
}

*{
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  position: fixed;
  width: 90%;
}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;
}

.logo{
  width: 10%;
}

.nav.scrolled{
  background-color: #7cb6d19c;
  width: 90%;
  height: 8vh;
  align-items: center;
}
.nav.scrolled .logo{
  width: 50px;
  margin-left: 20px;
}

ul.nav-menu li{
  float: left;
}

ul.nav-menu li a, .mobile-nav a, #cover-text a{
  height: 50px;
  line-height: 50px;
  font-family: Spartan;
  text-decoration: none;
  color: white;
  background-color: #2a2d34;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

#cover-text a:hover{
  background-color: #6b9db5;
  border: #2a2d34 1px solid;
  color: black;
  font-weight: bold;
}

ul.nav-menu li a:hover{
  background-color: #b5836b;
}

.mobile-nav{
  display: none;
}

.nav-toggle{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color:#2a2d34;
	cursor:pointer;
}

span.icon-bar{
  position: absolute;
  right: 12px;
  display: block;
  width: 26px;
  height: 2px;
  background-color:#ffffff;
}

.icon-bar:nth-child(1){
  top:17px;
}
.icon-bar:nth-child(2){
  top:24px;
}
.icon-bar:nth-child(3){
  top:31px;
}

.nav-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:#b5836b;
  z-index:1;
	opacity:0;
	visibility:hidden;
  
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.nav-overlay.active{
  opacity: 0.8;
  visibility: visible;
}

.nav-toggle{
  display: none;
}

span.icon-bar{
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle.active .icon-bar:nth-child(1){
	top:24px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2){
	width:0;
}
.nav-toggle.active .icon-bar:nth-child(3){
	top:24px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

nav{
	z-index:2;
}

#cover_photo{
  display: block;
  width: 100%;
  height: 100vh;
  background: url(../img/159410452_4015494181848694_1104088223947637147_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer{
  background-color: #b5836b;
  color: white;
  font-family: Spartan;
  padding: 40px 10%;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: black 1px solid;
}

footer a{
  text-decoration: none;
  color: inherit;
}

footer div{
  margin: 20px 0;
}

.links a{
  display: table;
  line-height: 25px;
  transform: color .15s;
}

.links a:hover{
  color: black;
}

#socials a{
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
  transition: color .15s;
}

#socials a:hover{
  color: black;
}

input{
  border-style: none;
  background: transparent;
  outline: none;
}

button{
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

#cover-text{
  position: relative;
  top: 70%;
  padding-left: 5%;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  max-width: 600px;
  border-radius: 2px;
}

#cover-text{
  font-family: Spartan;
  font-size: 15px;
  font-variant: small-caps;
}
#cover-text span{
  font-family: PlayfairDisplay;
  font-size: 85px;
}

#new_products, #about, #contact, #blog, #insta{
  height: 60vh;
}

#quick_category{
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

#quick_category a{
  width: 50%;
  text-align: center;
  font-family: PlayFairDisplay;
  text-decoration: none;
  background: #b5836b;
  line-height: 30vh;
  border: #2a2d34 1px solid;
  color: white;
  font-size: 30px;
}
#quick_category a:hover{
  background-color: #6b9db5;
  border: #2a2d34 1px solid;
  color: black;
  font-weight: bold;
}

#newsletter_input{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  border-radius: 2px;
  padding: 1.4rem 5% 1.6rem;
  background: #c49a87;
  border-bottom: #2a2d34 2px solid;
}

#newsletter_input input{
  flex-grow: 1;
  width: 90%;
  color: #2a2d34;
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: middle;

}

#newsletter_input button{
  color: #40454e;
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: middle;
  transition: color .15s;
}

#newsletter_input button:hover{
  color: black;
}

.links h3, form h3{
  font-weight: 600;
  color: #2a2d34;
  line-height: 40px;
  font-size: 22px;
}

#copyright{
  text-align: center;
  color: black;
}

@media screen and (max-width: 841px) {
  .mobile-nav.active{
    display: block;
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 30%;
  }  
  .mobile-nav.mobile-nav.active a:hover{
    background-color: #6b9db5;
  }
  ul.nav-menu{
		width:100%;
		height:0;
		padding:0;
		overflow:hidden;
	}
	ul.nav-menu.active{
		display: none;
	}
	.nav-toggle{
		display:block;
    z-index: 3;
	}
  #cover-text span{
    font-size: 55px;
  }
  #cover-text{
    max-width: 500px;
  }
}

@media screen and (max-width: 1030px) {
  
  .flex-container{
    flex-direction: column;
  }
  
}
