@font-face {
  font-family: Spartan;
  src: url(../font/Spartan/Spartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(../font/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf);
}

*{
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
  margin: 0;
  padding: 0;
}
#add_cart{
  margin-top: 20px;
}
.quantity{
  display: inline-block;
}
.quantity .input-text.qty{
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border-top: 1px solid #40454e59;
  border-bottom: 1px solid #40454e59;
}
.quantity.buttons_added{
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}
.quantity.buttons_added input{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  box-shadow: none;
}
.quantity.buttons_added .minus, .quantity.buttons_added .plus{
  padding: 0px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #40454e59;
  cursor: pointer;
}
.quantity.buttons_added .minus{
  border-right: 0;
}
.quantity.buttons_added .plus{
  border-left: 0;
}
.quantity.buttons_added .minus:hover, .quantity.buttons_added .plus:hover{
  background-color: #eeeeee;
}
.quantity input::-webkit-outer-spin-button, .quantity input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
#quantity_div p{
  margin-right: 15px;
}
#quantity_div{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#product_category p{
  color: #608EA4;
}
#product_category i{
  color: #000000;
}
.basic_product_info{
  padding-bottom: 10%;
  border-bottom: #2a2d34 solid 1px;
}
.product_info a{
  font-family: Spartan, sans-serif;
  color: #000000;
  font-size: 15px;
}
.product_info h2{
  font-family: Spartan, sans-serif;
  font-size: 22px;
  color: #b5836b;
  letter-spacing: -3%;
  margin-bottom: 20px;
}
.product_info h1{
  font-family: PlayfairDisplay, 'Times New Roman';
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 15px;
}
.product_info{
  margin-top: 6vh;
  width: 37%;
}
.slider_and_info{
  display: flex;
  margin-right: 10%;
  justify-content: space-between;
}
#submit_message:hover, #submit_message:focus, #add_cart:hover, #add_cart:focus{
  background-color: #b5836b;
  border: solid #b5836b 2px;
}
#submit_message, #add_cart{
  border: #6b9db5 2px solid;
  width: 100%;
  background-color: #6b9db5;
  color: white;
  font-family: Spartan, sans-serif;
  font-size: 15px;
  transition: 0.3s background-color ease, border 0.3s ease;
}
#contact_form div input:focus, #contact_form input:focus, #message:focus{
border: 2px #608EA4 solid;
}
#message{
  line-height: 25px;
  resize: none;
  height: 320px;
  outline: none !important;
}
#contact_form div input, input, #message, #contact_mail{
  background-color: #C4C4C467;
  margin: 10px 0;
  line-height: 50px;
  font-size: 15px;
  padding-left: 20px;
  border: none;
  border-bottom: #b5836b 2px solid;
  transition: border 0.2s ease;
}
#contact_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contact_row input{
  width: 45%;
}
#contact_form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#quote p{
  opacity: 52%;
}
#quote h4{
  color: #2a2d34;
  font-size: 30px;
}
#quote{
  text-align: center;
  margin: 80px 0;
}
.map_responsive{
  margin-top: 45px;
  overflow: hidden;
  padding-bottom: 35%;
  height: 0;
  position: relative;
}
.map_responsive iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#h2_and_form{
  width: 50%;
  margin-left: 50px;
  margin-top: 40px;
}
#contact_main{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}
.mail_link{
  font-family: Spartan, sans-serif;
  font-size: 18px;
  word-break: break-all;
}
#info_bits div i{
  font-size: 25px;
}
#info_bits div h3{
  font-family: PlayfairDisplay;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: lighter;
  margin: 15px 0;
}
#info_bits div{
  width: 48%;
  margin: 25px 5px;
}
#info_bits{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
#info{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 40px;
}
#contact_banner{
  background: url(../img/conact_banner_wide.jpg);
  background-size: 100%;
  background-position: 50% 60%;
}
.banner{
  height: 50vh;
  position: relative;
}
.banner h1{
  font-family: PlayfairDisplay;
  font-size: 85px;
  font-weight: lighter;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.slideshow{
  width: 50%;
  display: flex;

}
button{
  display: inline-block;
  margin: 10px 30px;
  font-size: 30px;
}
.slide img{
  width: 100%;
}
.clanak p{
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 22px;
}
h5{
  font-family: Spartan, sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}
h6{
  font-family: PlayfirDisplay, serif;
  font-size: 14px;
  letter-spacing: 5%;
  margin: 15px 0;
}
.proizvod_show:hover h3{
  border-bottom: #b5836b 1px solid;
}
.proizvod_show:hover img, .clanak:hover img, .post:hover img{
  opacity: 80%;
}
.proizvod_show, .clanak{
  text-decoration: none;
  color: #2a2d34;
}

.proizvod_show h3{
  color: #2a2d34;
  font-family: Spartan, sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 5%;
  border-bottom: #2a2d347a 1px solid;

}

.light_button{
  text-decoration: none;
  font-family: Spartan, sans-serif;
  color: #2a2d34;
  font-size: 15px;
  line-height: 45px;
  font-weight: bolder;
  border: #2a2d34 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  width: 120px;
  text-align: center;
}

.light_button:hover{
  background-color: #b5836b;
  color: white;
  border: #b5836b 1px solid;
}


nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  position: fixed;
  width: 90%;
}

ul{
  list-style-type: none;
}

h2{
  font-family: PlayFairDisplay, serif;
  font-size: 35;
  color: #2a2d34;
}

h4{
  font-family: Spartan, sans-serif;
  font-size: 18px;
  color: #6b9db5;
  margin: 20px 0;
  font-weight: bold;
}
p{
  font-family: Spartan, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.logo{
  width: 13vw;
}
#nav-simple{
  position: static;
}
.nav.scrolled, #nav-simple{
  background-color: #e6e3e3d3;
  width: 90%;
  height: 8.5vh;
  align-items: center;
}
.nav.scrolled .logo, #nav-simple .logo{
  width: 50px;
  margin-left: 20px;
}

ul.nav-menu li{
  float: left;
  margin-top: 15px;
}

ul.nav-menu li a, .mobile-nav a{
  height: 50px;
  line-height: 50px;
  font-family: Spartan, sans-serif;
  text-decoration: none;
  color: #000000;
  box-shadow: 3px 3px 3px #00000083;
  background-color: #efefef;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

#naslovni_gumb:hover{
  background-color: #6b9db5;
  color: black;
  font-weight: bold;
}

ul.nav-menu li a:hover{
  background-color: #b5836b;
}

.mobile-nav{
  display: none;
}

.nav-toggle{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color:#2a2d34;
	cursor:pointer;
}

span.icon-bar{
  position: absolute;
  right: 12px;
  display: block;
  width: 26px;
  height: 2px;
  background-color:#ffffff;
}

.icon-bar:nth-child(1){
  top:17px;
}
.icon-bar:nth-child(2){
  top:24px;
}
.icon-bar:nth-child(3){
  top:31px;
}

.nav-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:#b5836b;
  z-index:1;
	opacity:0;
	visibility:hidden;
  
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.nav-overlay.active{
  opacity: 0.8;
  visibility: visible;
}

.nav-toggle{
  display: none;
}

span.icon-bar{
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle.active .icon-bar:nth-child(1){
	top:24px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2){
	width:0;
}
.nav-toggle.active .icon-bar:nth-child(3){
	top:24px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

nav{
	z-index:2;
}

#cover_photo{
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(255,252,252,0),rgba(1,1,1,0.6)),
                    url(../img/159410452_4015494181848694_1104088223947637147_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer{
  background-color: #b5836b;
  color: white;
  font-family: Spartan, sans-serif;
  padding: 40px 10%;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: black 1px solid;
}

footer a, .mail_link{
  text-decoration: none;
  color: inherit;
}

footer div{
  margin: 20px 0;
}

.links a{
  display: table;
  line-height: 25px;
  transform: color .15s;
}

.links a:hover{
  color: black;
}

#socials a{
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
  transition: color .15s;
}

#socials a:hover{
  color: black;
}

input{
  border-style: none;
  background: transparent;
  outline: none;
}

button{
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

#cover-text{
  position: relative;
  top: 65%;
  margin-left: 10%;
}

#cover-text{
  font-family: Spartan, sans-serif;
  font-size: 15px;
  font-variant: small-caps;
  color: #ffffff;
}
#cover-text span{
  font-family: PlayfairDisplay;
  color: #ffffff;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 5%;
  font-weight: lighter;
}

#naslovni_gumb{
  margin-top: 2.5%;
  font-weight: bold;
  display: inline-block;
  line-height: 40px;
  background-color: #ffffff;
  padding: 3px 15px;
  text-decoration: none;
  color: #000000;
}

#new_products, #about, #contact, #blog, #insta{
  padding: 50px 10%;
}
#new_products{
  margin: 50px 0px;
}

.proizvodi, #clanci, #postovi{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.proizvod_show, .clanak, .post{
  width: 24%;
  margin: 30px 5px;
}

.h2_and_button{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


#quick_category{
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  margin-top: 90px;
}

#quick_category a{
  width: 50%;
  text-align: center;
  font-family: Spartan, sans-serif;
  text-decoration: none;
  background: #608EA4;
  line-height: 30vh;
  color: white;
  font-size: 30px;
}
#cake_pick{
  border-right: solid 1px #486a7a;
}
#cake_pick:hover{
  background-image: url(../img/black_white_bg.jpg);
  background-position: center;
  background-size: 105% ;
}
#brunch_pick:hover{
  background-image: url(../img/black_white_bg_2.jpg);
  background-position: center;
  background-size: 105% ;
}

#contact{
  display: flex;
  justify-content: space-between;
}
#contact article{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#about{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about article{
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

picture{
  max-width: 50%;
}
#about article p, #contact article p{
  margin-bottom: 40px;
}


#contact img{
  max-width: 50%;
}
#insta{
  background: #c4c4c440;
}

#newsletter_input{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  border-radius: 2px;
  padding: 1.4rem 5% 1.6rem;
  background: #c49a87;
  border-bottom: #2a2d34 2px solid;
}

#newsletter_input input{
  flex-grow: 1;
  width: 90%;
  color: #2a2d34;
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: top;

}

#newsletter_input button{
  color: #40454e;
  font-size: 1.4rem;
  line-height: 1rem;
  vertical-align: top;
  transition: color .15s;
}

#newsletter_input button:hover{
  color: black;
}

.links h3, form h3{
  font-weight: 600;
  color: #2a2d34;
  line-height: 40px;
  font-size: 22px;
}
img{
  max-width: 100%;
}

#copyright{
  text-align: center;
  color: black;
}

@media screen and (max-width: 980px){
  .light_button{
    font-size: 14px;
    width: 115px;
  }
  h5{
    font-size: 18px;
  }
  p, .clanak p{
    font-size: 15px;
  }
  h4{
    font-size: 17px;
  }
  .proizvod_show h3{
    font-size: 18px;
  }
  .proizvod_show, .clanak, .post{
    width: 240px;
  }
  .proizvod_show img, .clanak img, .post img{
    max-width: 240px;
  }
  .proizvodi, #clanci, #postovi{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  #new_products, #about, #contact, #blog, #insta{
    padding: 50px 30px;
  }
}

@media screen and (max-width: 841px) {
  .slider_and_info{
    flex-direction: column;
    width: 100%;
  }
  .mobile-nav.active{
    display: block;
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 30%;
  }  
  .mobile-nav.mobile-nav.active a:hover{
    background-color: #6b9db5;
  }
  ul.nav-menu{
		width:100%;
		height:0;
		padding:0;
		overflow:hidden;
	}
	ul.nav-menu.active{
		display: none;
	}
	.nav-toggle{
		display:block;
    z-index: 3;
	}
  #cover-text span, .banner h1{
    font-size: 55px;
  }
  #contact_banner{
    background-size: cover;
  }
  #quote h4{
    font-size: 27px;
  }
  #info_bits dvi h3 {
    font-size: 25px;
  }
  #cover-text{
    max-width: 500px;
  }
}

@media screen and (max-width: 1030px) {
  
  .flex-container{
    flex-direction: column;
  }
  
}

@media screen and (max-width: 600px) {
  #contact article h2{
    margin-bottom: 20px;
  }
  #contact img{
    max-width: 100%;
    margin-bottom: 15px;
  }
  #contact{
    flex-direction:column-reverse;
  }
  .proizvod_show, .clanak, .post{
    width: 170px;
  }
  .proizvod_show img, .clanak img, .post img{
    width: 170px;
  }
  h2{
    font-size: 25px;
  }
  #about article a{
    margin: 0 auto;
  }
  #about article{
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  #about picture{
    display: none;
  }
  
}

@media screen and (max-width: 1150px){
  #contact_main{
    flex-direction: column;
  }
  #info{
    width: 100%;
  }

  #h2_and_form{
    width: 70%;
    margin-top: 30px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 795px){
  #h2_and_form{
    width: 100%;
  }
  #info_bits{
    width: 100%;
  }
  #info_bits div{
    width: 70%;
    margin: 25px auto;
  }
  #contact_main{
    margin: 0 15px;
  }
  #contact_row{
    flex-direction: column;
  }
  #contact_row input{
    width: calc(100% - 20px);
  }
}